---
layout: default
---

<h1 class="post-title">
  {{ page.title | default: "Curriculum Vitae" }}
  
  {% comment %} Definimos a URL e removemos espaços extras com 'strip' {% endcomment %}
  {% assign pdf_url = page.cv_pdf | default: "https://www.dropbox.com/scl/fi/oan2l8gj5hrjd7t349rd8/cv.pdf?rlkey=q458hlx2d6yq8ty52rjdpo9rk&st=y9j9txq9&raw=1" | strip %}

  <a
    {% if pdf_url contains '://' %}
      href="{{ pdf_url }}"
    {% else %}
      href="{{ pdf_url | relative_url }}"
    {% endif %}
    target="_blank"
    rel="noopener noreferrer"
    class="float-right"
    aria-label="Abrir PDF do currículo"
  >
    <i class="fa-solid fa-file-pdf"></i>
  </a>
</h1>
